.App-header {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 75px;
  padding: 20px;
  padding-right: 40%;
  padding-left: 5%;
}

.App-header > h1 {
  color: dodgerblue;
  cursor: pointer;
}

.App-header > h2 {
  cursor: pointer;
}

.App-intro {
  font-size: large;
}

h2 {
  text-align: center;
}

li {
  text-align: center;
  margin: 5px 0px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.button {
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: 5px;
  background-color: dodgerblue;
  color: white;
  padding: 10px;
  align-self: center;
  border-radius: 4px;
  text-align: center;
}

.text-field {
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
}

.select-field {
  cursor: pointer;
  font-size: 18px;
  height: 43px;
  border-radius: 4px;
  border: 1px solid lightgray;
  background-color: white;
  margin-bottom: 10px;
}