.question-view {
  display: flex;
  flex-direction: row;
}

.categories-list {
  flex-basis: 25%;
  flex-shrink: 2;
}

.category-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px; 
  max-width: 250px;
  margin: 5px auto;
  padding: 5px;
}

.category-item.active {
  background-color: lightgray;
}

img.category {
  width: 30px;
}

.categories-list > form {
  width: 60%;
}

.questions-list {
  flex-basis: 75%;
  text-align: center;
}

.Question-holder {
  padding: 10px 20px;
  box-shadow: 0 0 4px #ccc;
  border-radius: 4px;
  text-align: left;
  margin: 14px 7px;
}

.Question-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}

.Question {
  font-size: 21px;
  width: 100%;
  margin-bottom: 5px;
}

.answer-holder {
  font-size: 25px;
  height: 25px;
  margin: 5px 0px;
}

.show-answer {
  max-width: 200px;
  margin-top: 15px;
}

span.page-num {
  cursor: pointer;
  padding: 5px;
  margin: 0 5px;
  padding-bottom: 50px;
  font-weight: bolder;
  text-decoration: underline;
  font-size: 20px;
}

span.page-num.active {
  color: dodgerblue;
}

img.delete {
  width: 20px;
  cursor: pointer;
}