.quiz-play-holder {
    width: 100%;
    max-width: 650px;
    text-align: center;
    margin: 40px auto;
}

.category-holder {
    margin-top: 16px;
    font-size: 24px;
}

.choose-header {
    font-size: 34px;
    font-weight: bold;
}

.play-category:hover {
    cursor: pointer;
    color: dodgerblue;
}

.quiz-header {
    margin: 12px;
    font-size: 24px;
}

.correct, .wrong {
  font-size: 20px;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

.quiz-answer {
  margin-bottom: 10px;
}